{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6 my-auto">
                <div class="my-5">
                    <h4>
                        <a href="{% url 'subscribe' %}" class="newsletter-button btn btn-lg rounded-0 text-uppercase py-3">Subscribe to NewsLetter</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-6 my-auto"></div>
            <div class="col-7 col-md-6 my-auto">
                <div class="my-5 newsletter-button">
                    <div>
                        <p class="tracking-wide rounded-0 py-3 px-5 lh-lg">We offer full advice on livestock selection to all our customers and pride ourselves on providing high quality livestock.</p>
                        <p class="tracking-wide rounded-0 py-3 px-5 lh-lg">Let us help you to buy top quality dairy and beef cattle.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}