<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Cattle
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'cattle' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'cattle' %}?sort=price&direction=asc" class="dropdown-item ">By Star Rating</a>
                <a href="{% url 'cattle' %}?sort=enterprise&direction=asc" class="dropdown-item ">By Enterprise</a>
                <a href="{% url 'cattle' %}" class="dropdown-item" class="dropdown-item">All Cattle</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dairy-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dairy
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="dairy-link">
                <a href="" class="dropdown-item">Cows</a>
                <a href="" class="dropdown-item">Heifers</a>
                <a href="" class="dropdown-item">Calves</a>
                <a href="" class="dropdown-item">Bulls</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="beef-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Beef
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="beef-link">
                <a href="" class="dropdown-item">Cows</a>
                <a href="" class="dropdown-item">Heifers</a>
                <a href="" class="dropdown-item">Calves</a>
                <a href="" class="dropdown-item">Bulls</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="organic-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Organic
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="organic-link">
                <a href="" class="dropdown-item">Cows</a>
                <a href="" class="dropdown-item">Heifers</a>
                <a href="" class="dropdown-item">Calves</a>
                <a href="" class="dropdown-item">Bulls</a>
            </div>
        </li>
    </ul>
</div>